.App {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(#aa076b, #61045f);
  color: white;
}


.circle-background {
  fill: none;
  stroke: #ddd;
}

.circle-progress {
  fill:none;
  stroke: rgb(0, 166, 255);
  stroke-linecap: round;
}

p {
  color: white;
  font-size: 1rem;

}

button {
  height: 2rem;
  width: 6rem;
  margin: 0 10px;
}

.heading {
  font-size: 3rem;
  font-weight: bolder;
  padding: 1rem 0;
}